{% extends "video/base.html" %}
{% block content %}
    <h4> Movie_cut is a tribute to the Snyder's cut
        <img src="https://www.journaldugeek.com/content/uploads/2021/01/es53rdwucaioff5-432x540.jpeg" alt"synder" >
    </h4>


    <div>

        <div>
            <p>Zack Snyder's Justice League (colloquially referred to as the Snyder Cut)
                is the 2021 director's cut of the 2017 American superhero film Justice League, the fifth film set within the DC Extended Universe (DCEU) based on the team of the same name appearing in DC Comics publications.
            </P>
        </div>
    </div>

{% endblock content %}
